/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/*NAVIGATION*/
header {
  background: #1e293b;
  color: white;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

/* SEARCH BOX */
.search-box {
  flex: 1;
  display: flex;
}

.search-box input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* NAV MENU */
.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* ACTIVE LINK */
.nav-links a:focus,
.nav-links a:hover {
  text-decoration: underline;
}

/* CTA BUTTON */
.cta-btn {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 0.55rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background: #334155;
  padding: 0.6rem;
  border-radius: 6px;
  top: 2rem;
}

.dropdown-content li {
  padding: 0.4rem 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.hero {
  padding: 3rem 1.2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.4rem;
}

.hero p {
  margin-top: 0.6rem;
  font-size: 1.1rem;
}

.footer {
  background: #0f172a;
  color: #e2e8f0;
  padding: 2.5rem 1.2rem;
}

.footer-grid {
  display: grid;
  gap: 1.5rem;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

.footer-box h3 {
  margin-bottom: 1rem;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 0.5rem;
}

.footer-box a {
  text-decoration: none;
  color: #94a3b8;
}
.footer-box a:hover {
  text-decoration: underline;
}

/* newsletter */
.newsletter input {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  margin-bottom: 0.6rem;
}

.newsletter button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: 600;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.copy {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

/* Tablet */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {

  .search-box {
    display: none;
  }

  .cta-btn {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #1e293b;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}
